<launch>
<!--env name="GAZEBO_MODEL_PATH" value="$(find exmpl_models)"/-->
<env name="GAZEBO_RESOURCE_PATH" value="$(find exmpl_models)"/>
<node name="cork_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find exmpl_models)/coke_can/coke_can.sdf -sdf -model cork_can -x 0.7 -y -0.2 -z 0.8 -Y 0.43"  />
    
</launch>
